<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BlueToothGate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CA7051EC1D62E59300A7C2E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA7052051D62E59300A7C2E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CA7052101D62E59300A7C2E0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
